@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  /* font-family: "Barlow Condensed", sans-serif; */
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}
.small-image {
  width: 400px; /* Adjust the desired width */
  height: 300px; /* Adjust the desired height */
  margin-left: 150px;
}

.small-banner {
  width: 1400px;
  height: 550px;
  margin-left: 150px;
}
