@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  /* font-family: "Barlow Condensed", sans-serif; */
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}
